<div class="homepage-container">
  <h1 class="home-title">What are my legislators up to?</h1>
  <div class="home-subheader">
    <p class="home-copy">Here at wamlut we love two things: keeping it simple, and making bad acronyms.  Our goal is to keep you up to date on the people who represent you.</p>
    <p class="home-copy">We'll find your Colorado state representatives and craft periodic email notifications with updates about their activity.</p>
    <p class="facebook-login"><%= link_to "Log in with Facebook", login_path %></p>
    <p>or</p>
    <p class="browse-representatives"><%= link_to "Browse representatives", legislators_path %></p>
  </div>
</div>
