<div class="homepage-container">
  <h1 class="home-title">What are my legislators up to?</h1>
  <div class="home-subheader">
    <p class="home-copy">Learn about your Colorado state representatives and recieve email notifications about their activity.</p>
    <p class="facebook-login"><%= link_to "Log in with Facebook", login_path %></p>
    <p>or</p>
    <p class="browse-representatives"><%= link_to "Browse representatives", legislators_path %></p>
  </div>
</div>
