<div class="homepage-container">
  <h1 class="home-title">What are my legislators up to?</h1>
  <div class="home-subheader">
    <p class="home-copy">Learn about your Colorado state representatives and recieve email notifications about their activity.</p>
    <p class="facebook-login">Log in with facebook</p>
    <p>or</p>
    <p class="browse-representatives">Browse representatives</p>
  </div>
</div>
