---
http_interactions:
- request:
    method: get
    uri: http://openstates.org/api/v1/bills/?apikey=bfef33e0a83e4e98931765048ca24dd6&per_page=20&state=co&updated_since=2014-01-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"title": "Clean-up SB13-250 Drug Sentencing", "created_at": "2014-03-22
        04:16:56", "updated_at": "2014-06-13 11:10:14", "id": "COB00002645", "chamber":
        "upper", "state": "co", "session": "2014A", "type": ["bill"], "subjects":
        [], "bill_id": "SB 14-163"}, {"title": "Insurer Investments In Real Property
        NAIC Model", "created_at": "2014-04-23 07:11:46", "updated_at": "2014-06-13
        11:11:05", "id": "COB00002782", "chamber": "upper", "state": "co", "session":
        "2014A", "type": ["bill"], "subjects": [], "bill_id": "SB 14-209"}, {"title":
        "On-demand Air Carrier Sales & Use Tax Exemption", "created_at": "2014-04-12
        05:57:01", "updated_at": "2014-06-07 10:17:52", "id": "COB00002728", "chamber":
        [...]
