---
http_interactions:
- request:
    method: get
    uri: http://openstates.org/api/v1/legislators/?apikey=bfef33e0a83e4e98931765048ca24dd6&state=co
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"last_name": "Priola", "updated_at": "2014-10-15 12:36:03", "full_name":
        "Kevin Priola", "id": "COL000036", "first_name": "Kevin", "middle_name": "",
        "district": "56", "+occupation": "Small Business Owner ", "state": "co", "votesmart_id":
        "106512", "party": "Republican", "suffixes": "", "email": "kpriola@gmail.com",
        "all_ids": ["COL000036", "COL000142"], "leg_id": "COL000036", "active": true,
        "transparencydata_id": "3434c15d654b41fcb4f5e18a6d04c8f6", "photo_url": "http://www.leg.state.co.us//clics/clics2013A/directory.nsf/0/6148D914B28D89168725794300729C2F/$FILE/H-Priola.jpg",
        "level": "state", "url": "http://www.leg.state.co.us//clics/clics2013A/directory.nsf/MemberDetailPage?OpenForm&district=56&chamber=house",
        "country": "us", "created_at": "2012-01-19 01:01:48", "chamber": "lower",
        "offices": [{"fax": null, "name": "Capitol Office", "phone": "303-866-2912",
        "address": "200 E. Colfax\nDenver, CO 80203", "type": "capitol", "email":
        null}], "+phone": "303 866 2912"}, {"last_name": "Scott", "updated_at": "2014-10-15
        12:36:03", "full_name": "Ray Scott", "id": "COL000037", "first_name": "Ray",
        "middle_name": "", "district": "55", "+occupation": "Business Owner", "state":
        "co", "votesmart_id": "125544", "party": "Republican", "suffixes": "", "email":
        "ray.scott.house@state.co.us", "all_ids": ["COL000037", "COL000145"], "leg_id":
        "COL000037", "active": true, "t[...]
