<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to your first notification!</h1>
    <p>Here is some basic information about your state representatives.  
      Every 2 weeks you'll receive an email updating you on what kinds of bills
      they've been voting on and how they've been voting.</p>
    <p>You can opt out at any time by clicking <%= link_to "here", "#" %></p>
  </body>
</html>
