default: &default
  adapter:  postgresql
  encoding: unicode
  pool:     5
  timeout:  5000
  host: localhost

development:
  <<: *default
  database: wamlut_development

test:
  <<: *default
  database: wamlut_test

production:
  <<: *default
  database: wamlut
  username: deployment
  password: password1
