@import "bootstrap";

// Universal

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

// Homepage
.homepage-container {
  text-align: center;
}

.home-title {
  font-weight: 100;
  font-size: 70px;
}

.home-subheader {
  max-width: 720px;
  margin: 0 auto;
}

.facebook-login {
  margin-top: 28px;
  color: #4c66a4;
  font-size: 42px;
  font-weight: 100;
}

.home-copy {
  font-size: 26px;
  font-weight: 200;
  margin-top: 30px;
}

.browse-representatives {
  color: #A81313;
  font-size: 42px;
  font-weight: 100;
}

// Footer
footer {
  position: fixed;
  left: 0px;
  bottom: 0px;
  width: 100%;
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #999;

  a {
    color: #555;
    &:hover {
      color: #222;
    }
  }

  small {
    float: left;
  }

  ul {
    float: right;
    list-style: none;
    padding-right: 20px;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

// Bootstrap overrides
.navbar-custom {
  background-color: #A5DBE6;
  color: #DE0909;
}

.navbar-brand {
  font-size: 20px;
}

.navbar .nav > li > a {
  text-decoration: none;
  color:  #474747;
}

