@import "bootstrap";
@import url(http://fonts.googleapis.com/css?family=Ubuntu:300,400);

// Universal

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
  font-family: "Ubuntu", sans-serif;
}

a {
  color: inherit;
}

a:hover, a:link {
  text-decoration: none;
}

// Homepage
.homepage-container {
  text-align: center;
}

.home-title {
  font-weight: 300;
  font-size: 70px;
}

.home-subheader {
  max-width: 720px;
  margin: 0 auto;
}

.facebook-login {
  margin-top: 28px;
  color: #4c66a4;
  font-size: 42px;
  font-weight: 300;
}

.home-copy {
  font-size: 26px;
  font-weight: 300;
  margin-top: 30px;
}

.browse-representatives {
  color: #A81313;
  font-size: 42px;
  font-weight: 300;
}

// User show page
.user-profile, .notifications-container {
  text-align: center;
}

.initial-user-info, .notifications-header {
  margin: 0 auto;
  width: 800px;
  font-size: 44px;
  font-weight: 100;
}

.address-email-form {
  margin-top: 20px;
}

.address-field {
  color: #A81313;
}

.email-field {
  margin-top: 20px;
  padding-left: 20px;
  color: #0970B5;
}

.initial-user-info-subheader {
  margin: 20px auto 0 auto;
  margin-top: 12px;
  font-size: 26px;
  font-weight: 100;
  width: 720px;
}

.legislator-photos {
  margin-bottom: 10px;
  border: 10px solid whitesmoke;
  border-radius: 25px;
  box-shadow: 2px 2px 10px #999;
}

.legislator-photos:hover {
  opacity: 0.6;
  filter: alpha(opacity=60);
}

.proceed-notifications {
  margin-top: 20px;
}

.proceed-link {
  color: #0970B5;
  font-size: 32px;
  font-weight: 300;
}

.form-success {
  font-size: 22px;
}

.user-leg {
  margin: 30px 0 30px 0;
}

.user-legislators-left {
  padding-left: 240px;
}

.user-legislators-right {
  padding-right: 240px;
}

.notifications-opt-in {
  font-size: 32px;
  color: #A81313;
}

// Footer
footer {
  left: 0px;
  position: fixed;
  bottom: 0px;
  width: 100%;
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #999;

  a {
    color: #555;
    &:hover {
      color: #222;
    }
  }

  small {
    float: left;
  }

  ul {
    float: right;
    list-style: none;
    padding-right: 20px;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

// custom bootstrap stuffs
.navbar-custom {
  background-color: #E3FFFD;
  color: #DE0909;
}

.navbar-brand {
  font-size: 20px;
}

.navbar .nav > li > a {
  text-decoration: none;
  color: #5E5E5E;
}

.col-md-3, .col-md-6 {
  text-align: center;
}

.row-custom {
  margin-bottom: 20px;
}
