@import "bootstrap";
@import url(http://fonts.googleapis.com/css?family=Ubuntu:300,400);

// Universal

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
  font-family: "Ubuntu", sans-serif;
}

// Homepage
.homepage-container {
  text-align: center;
}

.home-title {
  font-weight: 300;
  font-size: 70px;
}

.home-subheader {
  max-width: 720px;
  margin: 0 auto;
}

.facebook-login {
  margin-top: 28px;
  color: #4c66a4;
  font-size: 42px;
  font-weight: 300;
}

.home-copy {
  font-size: 26px;
  font-weight: 300;
  margin-top: 30px;
}

.browse-representatives {
  color: #A81313;
  font-size: 42px;
  font-weight: 300;
}

// User show page
.user-profile {
  text-align: center;
  border: 2px dashed;
}

.initial-user-info {
  border: 2px dashed;
  margin: 0 auto;
  width: 800px;
  font-size: 44px;
  font-weight: 100;
}

.address-email-form {
  margin-top: 20px;
}

.address-field {
  color: #A81313;
  border: 2px dashed;
}

.email-field {
  border: 2px dashed;
  margin-top: 20px;
  padding-left: 5px;
  color: #0970B5;
}

.initial-user-info-subheader {
  margin: 20px auto 0 auto;
  margin-top: 12px;
  font-size: 26px;
  font-weight: 100;
  width: 720px;
}

// Footer
footer {
  position: fixed;
  left: 0px;
  bottom: 0px;
  width: 100%;
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #999;

  a {
    color: #555;
    &:hover {
      color: #222;
    }
  }

  small {
    float: left;
  }

  ul {
    float: right;
    list-style: none;
    padding-right: 20px;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

// custom bootstrap stuffs
.navbar-custom {
  background-color: #A5DBE6;
  color: #DE0909;
}

.navbar-brand {
  font-size: 20px;
}

.navbar .nav > li > a {
  text-decoration: none;
  color:  #474747;
}

.col-md-6 {
  border: 2px dashed;
  text-align: center;
}

